*{
    box-sizing: border-box;
}
body {
    font-family:'Montserrat';
    font-size:1.8em;
    background-color:#818181;
    color:#818181;
    margin:0;
}
.navbar{
    width:100%;
    height:10%;
    background-color:#111;
    padding:15px;
    border-bottom:1px solid #009432;
}
#menu{
    position:relative;
    font-weight: bold;
    cursor:pointer;
}
#menu:hover,#menu:focus{
    color: #f1f1f1;
}
#name{
    font-size:0.8em;
}
.correct{
    clear: both;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.container{
    margin: 15px;
}
.col-12{
    background-color: #111;
    text-align: center;
    border: #009432 1px  solid;
    margin-bottom: 5px;
}
.col-12 p{
    font-size: 0.8em;
}
input{
    font-family: 'Montserrat';
    background-color:aliceblue;
    color: #111;
    border: #009432 1px solid;
    border-radius: 10px;
    width: 100%;
}
.box{
    background-color: #111;
    border: #009432 1px solid;
    padding: 10px;
}
.box h2{
    padding: 0;
    margin: 0;
    text-align: center;
}
@media (min-width: 768px)
{
    #menu{
        display: inline;
        text-align: right;
        float: right;
    }
    #name{
        display: inline;
        font-weight: 500;
        text-align: left;
        float: left;
        margin: 10px;
    }
    .col-12{
        margin-left: 20%;
        margin-right: 20%;
    }
}
@media (max-width: 767px)
{
    #name{
        position: relative;
        right: 15px;
        padding-top: 8px;
        margin: 1px;
        text-align: center;
    }
    #menu{
        z-index: 1;
        float: left;
    }
}